<div class="footer_cols">
    <ul class="footer_col">
        <li class="footer_box_title">Conócenos</li>
        <li><%= link_to 'Sobre nosotros', about_us_index_path %></li>
        <li><%= link_to 'Contacto', contact_index_path %></li>
        <li><%= link_to 'Preguntas frecuentes', faq_index_path %></li>
    </ul>

    <ul class="footer_col">
        <li class="footer_box_title">Interactua</li>
        <li><%= link_to 'Buscar estacionamiento', search_index_path %></li>
        <li><%= link_to 'Ofrecer estacionamiento', new_parking_path %></li>
    </ul>

    <div class="footer_col social_networks">
        <div class="footer_box_title">
            Conéctate con nosotros
        </div>
        <a href="#"><%= icon('facebook') %></a>
        <a href="#"><%= icon('twitter') %></a>
        <a href="#"><%= icon('youtube') %></a>
    </div>
</div>
<div class="copyright">
    &copy; 2017 - Krog Solutions
</div>
