<h1>hola</h1>
<div class="est-leftcol">
    <table class="est-table" rules="rows">
        <tr>
            <td colspan=2 class="est-titulo">Ignacio Merino 143</td>  <td class="est-text"><div><%= icon("star")%><%= icon("star")%><%= icon("star")%><%= icon("star")%><%= icon("star")%></td></div>
            <tr>
            <td colspan=3><img src="/assets/cochera1.jpg" class="est-img"/><img src="/assets/cochera2.jpg" class="est-img"/></td>
            </tr>
            <tr>
                <td colspan=3 class="est-titulo">Informacion Basica</td>
                <tr>
                    <td><div class="est-icono"> <%= icon('umbrella') %></div>Con Techo</td>
                    <td><div class="est-icono"> <%= icon('home') %></div>Casa Privada</td>
                    <td><div class="est-icono"> <%= icon('lock') %></div>Control Automático</td>
                </tr>
            <tr>
                <td colspan=3 class="est-titulo">Vehiculos aceptados</td>
                <tr>
                    <td><div class="est-icono"> <%= icon('motorcycle') %></div>Motocicleta</td>
                    <td><div class="est-icono"> <%= icon('car') %></div>pequeño</td>
                    <td><div class="est-icono"> <%= icon('truck') %></div>Mediano</td>
                </tr>
            </tr>
            <tr>
                <td colspan=3 class="est-titulo">Disponibilidad</td>
                <tr>
                    <td class="est-icono">Viernes</td>
                    <td class="est-icono">Sabado</td>
                    <td class="est-icono">Domingo</td>
                </tr>
            </tr>
            <tr>
               <td colspan=3 class="est-titulo">Horario</td>
            </tr>
            <tr>
                <td><div class="est-icono"> <%= icon('sun-o') %></div>Durante el dia</td>
                <td><div class="est-icono"> Entrada</div>10:00 am</td>
                <td><div class="est-icono"> Salida</div>06:00 pm</td>
            </tr>
            <tr>
                <td colspan=3 class="est-titulo"> Propietario </td>
            </tr>
            <tr>
                <td colspan=3 class="est-titulo"><%= icon('check')%> Gabriel Guanilo</td>
            </tr>
        </tr>
    </table>
</div>

<div>
    
</div>