<% @Offers.each do |offer| %>
<div class="est-leftcol">
    <div><h3><%= offer.address %></h3><h1 class="est-icons"><%= icon('star') %></h1>
    </div>
    <div>
        <img src=<%=offer.image_1 %> class="est-img"/>
        <img src=<%=offer.image_2 %>  class="est-img"/>
    </div>
    <div><h3>Informacion Básica</h3></div>
    <div>
        <div class="est-carct">
           <div class="est-icono"><%= icon('umbrella') %></div>
           <div>Con Techo</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= icon('home') %></div>
            <div>Casa Privada</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= icon('lock') %></div>
            <div>Control Automatico</div>
        </div>
    </div>
    <div><h3>Vehiculos Aceptados</h3></div>
    <div>
        <div class="est-carct">
            <div class="est-icono"><%= icon('motorcycle') %></div>
           <div>Motocicleta</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= icon('truck') %></div>
           <div>Mediano</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= icon('car') %></div>
           <div>Pequeño</div>
        </div>
    </div>
    <div><h3>Disponibilidad</h3></div>
    <div>
        <div class="est-carct">Viernes</div>
        <div class="est-carct">Sabado</div>
        <div class="est-carct">Domingo</div>
    </div>
    <div><h3>Horario</h3></div>
    <div class="est-carct">
        <div><%= icon('sun-o') %></div>
        <div>Durante el dia</div>
    </div>
    <div class="est-carct">
        <div>Entrada</div>
        <div>10:00</div>
    </div>
    <div class="est-carct">
        <div>Salida</div>
        <div>18:00</div>
    </div>
    <div><br></div>
    <div><h3>Propietario</h3></div>
    <div class="est-icono"> <%= icon('check') %><%=offer.user_id%></div>
    <% end %>
</div>