<% oferta = Offer.find(cookies[:offerID]) %>
<div class="est-leftcol">
    <div class="est-titulo">
        <span class="est-dir"><%= oferta.address %></span><span class="est-valor"></span>
    </div>
    <br>
    <hr>
    <div class="est-linea1">
        <img class="est-img-doble" src="<%=oferta.image_1 %>" />
        <img class="est-img-doble" src="<%=oferta.image_2 %>" />
    </div>
    <hr>
    <div class="est-sub-t"><h3>Informacion Básica</h3></div>
    <div class="est-sub-cont">
        <div class="est-carct">
           <div class="est-icono"><%= oferta.move_car == 1 ? icon('umbrella') : icon('times') %></div>
           <div>Con Techo</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= oferta.is_independent == 1 ? icon('home') : icon('times') %></div>
            <div>Casa Privada</div>
        </div>
        <div class="est-carct">
            <div class="est-icono"><%= oferta.leave_keys == 1 ? icon('lock') : icon('times') %></div>
            <div>Control Automatico</div>
        </div>
    </div>
    <br><br><br>
    <br>
    <div class="est-sub-t">
        <h3>Tamaño de vehiculos Aceptados</h3>
    </div>
    <div class="est-sub-cont">
        <div>
            <div class="est-icono"><il class="<%= oferta.vehicle_type.icon_class %>"></il></div>
            <div ><%= oferta.vehicle_type.name %></div>
        </div>
    </div>
    <div class="est-sub-t"><h3>Disponibilidad</h3></div>
    <div  class="est-sub-cont">
        <div><%= oferta.days %></div>
    </div>
    <div class="est-sub-t"><h3>Horario</h3></div>
    <div class="est-sub-cont">
        <div>Entrada</div>
        <div><%= oferta.check_in_time.to_s.split(/ /)[1] %></div>
    </div>
    <br>
    <div class="est-sub-cont">
        <div>Salida</div>
        <div><%= oferta.check_out_time.to_s.split(/ /)[1] %></div>
    </div>
    <hr>
    <div class="est-sub-t"><h3>Propietario</h3></div>
    <div class="est-icono est-sub-cont est-verde"> <%= icon('check') %>  <%=oferta.user.name%></div>
</div>