<% oferta = Offer.find(cookies[:offerID]) %>
<div class="est-rightcol">
    <div class="est-sub-t">
        <h3>Confirmar Reserva</h3>
    </div>
    <hr>
    <div><h3>Precio</h3></div>
    <div>
        <%=icon('money') %> <%= oferta.price %> Soles al mes
    </div>
    <div>
        <h3>Dias a alquilar</h3>
    </div>
    <div>
        <%=icon('calendar') %> <%= oferta.days %>
    </div>
    <br>
    <hr>
    <div class="est-area-boton">
        <p>
            <div onclick="save_deal()">
                <span class="show-boton" id="show-sol-boton">Solicitar</span>
            </div>
        </p>
    </div>
    <div class="show-error" id="error"><%= icon("times") %> Error: Lo sentimos el lugar esta lleno</div>
    <div class="show-load"  id="loading"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>Registrando...</div>
    <div class="show-ok" id="ok"><%= icon("check") %> Gracias por reservar!</div>
    
</div>