<%- model_class = Offer -%>

<% model_class.all.each do |of| %>
<div class="box-oferta">
    <table>
        <tr>
            <td>
                <img class="list-img" src="/assets/welcome/usuario.png"/>
                
            </td>
            <td>
                <p>  <%= icon('id-card') %>   <%= User.find(of.User_id).name %></p>
                <p>  <%= icon('flag-o') %>   <%= of.address %></p>
                <p>  <%= icon('map-marker') %>   <%= of.location %></p>
                 
            </td>
        </tr>
        
    </table>
</div>
        
<% end %>
