<div class="content">
    <h1 class="contact-h1">¿Preguntas? ¿Sugerencias?</h1>
    <p class="contact-subt">Siempre estamos encantados de saber de ti :)</p>
    <p class="contact-subt2">Comunicate las 24 horas del dia mediante nuestras redes sociales:</p>
    <ul class="contact-social-list">
        <li><%= icon('whatsapp')%>   985698569 </li>
        <li><%= icon('facebook-square')%>   /KrOgOficial </li>
        <li><%= icon('twitter')%>   @KrOgOficial </li>
        <li><%= icon('youtube')%>   KrOg TV </li>
    </ul>
    <br>
    <!--
    <div>
       <p class="contact-subt">No tienes redes sociales? No importa... Aun podemos enviarte un e-mail</p> 
            <div class="contact-fields">
                <form>
                    <table>
                        <tr>
                            <td>
                                <%= icon('user')%>
                            </td>
                            <td>
                                <input type="text" placeholder="Nombre Completo"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= icon('envelope')%>
                            </td>
                            <td>
                                <input type="email" placeholder="Correo Electronico"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= icon('newspaper-o')%>
                            </td>
                            <td>
                                <input type="text" placeholder="Asunto"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= icon('pencil-square-o')%>
                            </td>
                            <td>
                                <textarea class="contact-text" placeholder="Mensaje"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= icon('share')%>
                            </td>
                            <td>
                                <input type="submit"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
    </div>
    -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img class="contact-img" src="/assets/welcome/localizacion.png"/>
    <p></p>
</div>