<h1>OFertas Confirmadas</h1>
<div>
    <table class="table">
    <thead>
        <tr>
            <th class="est-text">Direccion</th>
            <th class="est-text">Cantidad</th>
            <th class="est-text">Dias</th>
            <th class="est-text">Horario</th>
            <th class="est-text">Check in</th>
            <th class="est-text">Check out</th>
            <th class="est-text">Precio</th>
            <th class="est-text">Estado</th>
            <th class="est-text">Propiedad</th>
            <th class="est-text">Vehiculo</th>
        </tr>
    </thead>
    <tbody>
        <% Offer.all.each do |offer| %>
        <tr>
            <td class="est-text2"><%= offer.address %></td>
            <td class="est-text2"><%= offer.quantity %></td>
            <td class="est-text2"><%= offer.days %></td>
            <td class="est-text2"><%= offer.horary_id %></td>
            <td class="est-text2"><%= offer.check_in_time %></td>
            <td class="est-text2"><%= offer.check_out_time %></td>
            <td class="est-text2"><%= offer.price %></td>
            <td class="est-text2"><%= offer.status %></td>
            <td class="est-text2"><%= offer.property_type.name %></td>
            <td class="est-text2"><%= offer.vehicle_type.name %></td>
        </tr>
    </tbody>
    <% end %>
    </table>
</div>
