<h1>Ofertas Confirmadas</h1>
<% contador=0 %>
<div>

    <% @solicitados.each do |deal| %>
    <% if deal.offer.user_id.to_i == cookies[:userID].to_i %>
    <% contador+=1 %>
    <div class="pub-titulo"><%= deal.offer.address %></div>
    <p>Cliente: <a class="a-user" onclick="cargar_usuario(<%= deal.user.id%>)"><%= deal.user.name%></a></p>
    <p><span>Numero de espacios: </span><span><%= deal.offer.quantity %></span></p>
    <p><span>Dias: </span><span><%= deal.offer.days %></span></p>
    <% hora=deal.ini_date.to_s %>
    <% hora2=deal.fin_date.to_s %>
    <p><span>Horario: </span><span><%= deal.offer.check_in_time.to_s.split(" ")[1] %> a <%= deal.offer.check_out_time.to_s.split(" ")[1] %></span></p>
    <p><span>Cancelado: </span>
        <span id="est-cancelado<%= deal.id %>" class="barra-cancelado" onclick="cambiar_estado(<%= deal.id %>,<%=deal.canceled %>)">
        <%= (deal.canceled.to_i == 1) ? icon('check-square') : icon('square-o') %>
        </span>
        <span id="load-cancel<%= deal.id %>" class="load-cancel"> 
            <i class='fa fa-spinner fa-spin fa-1x fa-fw'></i>
        </span>
    </p>
    <hr>
    <% end %>
    <% end %>
<% %>
<% if contador == 0 %>
<h3><%= "Aun no contratan tus ofertas" %></h3>
<% end %>
</div>
<!--<div>
    <table class="table">
    <thead>
        <tr>
            <th class="est-text">Direccion</th>
            <th class="est-text">Cantidad</th>
            <th class="est-text">Dias</th>
            <th class="est-text">Horario</th>
            <th class="est-text">Check in</th>
            <th class="est-text">Check out</th>
            <th class="est-text">Precio</th>
            <th class="est-text">Estado</th>
            <th class="est-text">Propiedad</th>
            <th class="est-text">Vehiculo</th>
        </tr>
    </thead>
    <tbody>
        <% Offer.all.each do |offer| %>
        <tr>
            <td class="est-text2"><%= offer.address %></td>
            <td class="est-text2"><%= offer.quantity %></td>
            <td class="est-text2"><%= offer.days %></td>
            <td class="est-text2"><%= offer.horary_id %></td>
            <td class="est-text2"><%= offer.check_in_time %></td>
            <td class="est-text2"><%= offer.check_out_time %></td>
            <td class="est-text2"><%= offer.price %></td>
            <td class="est-text2"><%= offer.status %></td>
            <td class="est-text2"><%= offer.property_type.name %></td>
            <td class="est-text2"><%= offer.vehicle_type.name %></td>
        </tr>
    </tbody>
    <% end %>
    </table>
</div>
-->