 <h1>Ofertas publicadas por mi</h1>
 
<div class="est-win">
    <% @Offers.each do |offer| %>
        <div class="est-text">
            <div>Direccion</div>
            <div class="est-text2"><%= offer.address %></div>
        </div>
        <div class="est-text">
            <div>Cantidad</div>
            <div class="est-text2"><%= offer.quantity %></div>
        </div>
        <div class="est-text">
            <div>Dias</div>
            <div class="est-text2"><%= offer.days %></div>
        </div>
        <div class="est-text">
            <div>Horario</div>
            <div class="est-text2"><%= offer.horary_id %></div>
        </div>
        <div class="est-text">
            <div>check in</div>
            <div class="est-text2"><%  offer.check_in_time %></div>
        </div>
        <div class="est-text">
            <div>Check out</div>
            <div class="est-text2"><%= offer.check_out_time %></div>
        </div>
        <div class="est-text">
            <div>Precio</div>
            <div class="est-text2"><%= offer.price %></div>
        </div>
        <div class="est-text">
            <div>Estado</div>
            <div class="est-text2"><%= offer.status %></div>
        </div>
        <div class="est-text">
            <div>Tipo Propiedad</div>
            <div class="est-text2"><%= offer.property_type.name %></div>
        </div>
        <div class="est-text">
            <div>Tipo Vehiculo</div>
            <div class="est-text2"><%= offer.vehicle_type.name %></div>
        </div>
    <% end %>
</div>