<h1>Ofertas publicadas por mi</h1>
<div>
<% if @Offers.size == 0 %>
<h3><%= "Aun no publicas ofertas" %></h3>
<% else %>
    <% @Offers.each do |offer| %>
    <div class="pub-titulo"><%= offer.address %></div>
    <p><span>Numero de espacios: </span><span><%= offer.quantity %></span></p>
    <p><span>Dias: </span><span><%= offer.days %></span></p>
    <% hora=offer.check_in_time.to_s.split(/ /) %>
    <% hora2=offer.check_out_time.to_s.split(/ /) %>
    <p><span>Horario: </span><span><%= hora[1] %> a <%= hora2[1] %></span></p>
    <p><span>Precio: </span><span><%= offer.price %> Soles</span></p>
    <hr>
    <% end %>
<% %>
<% end %>
</div>

<!-- <div class="est-win">
    <% @Offers.each do |offer| %>
        <div class="est-text">
            <div>Direccion</div>
            <div class="est-text2"><%= offer.address %></div>
        </div>
        <div class="est-text">
            <div>N° Cajones</div>
            <div class="est-text2"><%= offer.quantity %></div>
        </div>
        <div class="est-text">
            <div>Dias</div>
            <div class="est-text2"><%= offer.days %></div>
        </div>
        <div class="est-text">
            <div>Horario</div>
            <div class="est-text2"><%= offer.horary_id %></div>
        </div>
        <div class="est-text">
            <div>check in</div>
            <div class="est-text2"><%= offer.check_in_time %></div>
        </div>
        <div class="est-text">
            <div>Check out</div>
            <div class="est-text2"><%= offer.check_out_time %></div>
        </div>
        <div class="est-text">
            <div>Precio</div>
            <div class="est-text2"><%= offer.price %></div>
        </div>
        <div class="est-text">
            <div>Estado</div>
            <div class="est-text2"><%= offer.status %></div>
        </div>
        <div class="est-text">
            <div>Propiedad</div>
            <div class="est-text2"><%= offer.property_type.name %></div>
        </div>
        <div class="est-text">
            <div>Vehiculo</div>
            <div class="est-text2"><%= offer.vehicle_type.name %></div>
        </div>
    <% end %>
</div>
-->