<%- model_class = User -%>
<% u=User.find(cookies[:userID]) %>
<div class="show-cont">
<div class="show-left">
<form  class="sp-form" action="<%= api_v1_users_path() %>/<%= u.id %>" method="put">
    <div>
        <div class="sp-iconfield"><%= icon('user') %> Nombre completo</div>
        <input class="sp-input" type="text" name="name" placeholder="Nombre completo" autocomplete="off" value="<%= u.name %>">
    </div>
    <div>
        <div><%= icon('envelope') %> Correo electronico</div>
        <input type="email" name="email" placeholder="Correo electrónico" autocomplete="off" value="<%= u.email %>">
    </div>
    <div>
        <div><%= icon('address-card') %> Documento de identidad</div>
        <input type="text" name="dni" placeholder="DNI" autocomplete="off" value="<%= u.dni %>">
    </div>
    <div>
        <div><%= icon('phone') %> Telefono</div>
        <input type="text" name="phone" placeholder="Número de teléfono" autocomplete="off" value="<%= u.phone %>">
    </div>
    <div>
        <div><%= icon('venus-mars') %> Sexo</div>
        <select name="gender">
            <option value="Masculino" <%= u.gender == "Masculino" ? "selected":"" %>>
                Masculino
            </option>
            <option value="Femenino" <%= u.gender == "Femenino" ? "selected":"" %>>
                Femenino
            </option>
            <option value="Otro" <%= u.gender == "Otro" ? "selected":"" %>>
                Otro
            </option>
            <option value="" <%= ((u.gender == "") or (u.gender == nil)) ? "selected":"" %>>
                Sin especificar
            </option>
        </select>
    </div>
    <div>
        <div><%= icon('table') %> Fecha de nacimiento</div>
        <input type="date" name="birthday" placeholder="Fecha de nacimiento" autocomplete="off" value="<%= u.birthday %>">
    </div>
    <div>
        <div><%= icon('image') %> Avatar</div>
        <input type="text" name="picture" placeholder="Avatar" autocomplete="off" value="<%= u.picture %>">
    </div>
    <div>
        <div onclick="change_params()">
            <span class="show-boton">Update</span>
        </div>
        <div class="show-error" id="error"><%= icon("times") %> Error</div>
        <div class="show-load"  id="loading"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>Cargando...</div>
        <div class="show-ok" id="ok"><%= icon("check") %> Datos actualizados!</div>
    </div>
</form>
</div>
    <div class="show-right">
        <img class=show-avatar src='<%= ((u.picture == "") or (u.picture == nil)) ? "/assets/welcome/usuario.png":"#{u.picture}" %>' />
    </div>
</div>

