<!DOCTYPE html>
<html>
<head>
    <title>Parking</title>
    <link rel='icon' type='image/png' href='assets/favicon/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>
    <header>
        <div class="content">
            <%= render 'layouts/parts/header' %>
        </div>
    </header>

    <div class="main">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
    </div>

    <footer>
        <div class="content">
            <%= render 'layouts/parts/footer' %>
        </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
