<!DOCTYPE html>
<html>
<head>
    <title>Parking</title>
    <link rel='icon' type='image/png' href='assets/favicon/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
</head>
<body>
    <header>
        <div class="content">
            <%= link_to 'Logo', root_path,{ :class => 'logo'} %>
            
            <div class="nav_menu" id="menu_principal">
                <ul class="nav nav_left">
                    <li><%= link_to '¿Buscas un lugar?', "#" %></li>
                    <li><%= link_to '¿Tienes espacio disponible?', "#" %></li>
                </ul>
                
                <ul class="nav nav_right">
                    <li><%= link_to 'Ofrece un lugar', "#", { :class => 'btn btn-default' } %></li>
                    <li><%= link_to 'Inicia sesión', "#" %></li>
                    <li><%= link_to 'Regístrate', "#" %></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="main">
        <%= yield %>
    </div>

    <footer>
        <div class="content">
            <%= render 'welcome/parts/footer' %>
            
        </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
