<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <title>Parking</title>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body class="page-search">
    <header>
        <%= render 'layouts/parts/header_search' %>
    </header>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>

    <%= render 'layouts/parts/scripts' %>
</body>
</html>
