<!DOCTYPE html>
<html>
<head>
    <title>Parking</title>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body class="static">
    <header>
        <div class="content">
            <%= render 'layouts/parts/header' %>
        </div>
    </header>

    <div class="main content">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <div class="sidebar-nav">
            <div class="sidebar-content">
                <h2 class="navigation-header">INFORMACIÓN</h2>
                <ul>
                    <li><%= link_to "Empresa", about_us_index_path, :class => current_class(about_us_index_path) %></li>
                    <li><%= link_to "Contacto", contact_index_path, :class => current_class(contact_index_path) %></li>
                </ul>
                <h2 class="navigation-header">LEGAL</h2>
                <ul>
                    <li><%= link_to "FAQ", faq_index_path, :class => current_class(faq_index_path) %></li>
                    <li>
                        <a href="#">Condiciones</a>
                    </li>
                    <li>
                        <a href="#">Privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-page">
            <%= yield %>
        </div>
    </div>

    <%= render 'layouts/parts/scripts' %>
</body>
</html>
